*{
  padding:0px;
  margin:0px;
  scroll-behavior: smooth;
}

.cart-total{
  color:white;
  background-color: black;
  padding:0px 5px;
  border-radius:40%;
}

.banner{
  color:white;
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  /* gap:50px; */
}

.banner p {
  color:grey;
  font-size: 30px;
  margin:20px 0;
  
}
.banner h1 {
  margin:20px 0;
  font-size: 50px;
}
.product-grid{
  padding:50px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap:40px;
}
.on-sale{
  position: relative;
}

.on-sale::after{
  content: "On Sale";
  background-color: black;
  color:white;
  position:absolute;
  top:5%;
  right:5%;
  padding:6px;
  border-radius: 5px;
}
.cart-modal{
  border:0px !important;
  outline: 0px !important;
}